.center {
    text-align: center;
    justify-content: center;
}

.utterance_display {
    font-size: 25px;
    font-family: Arial;
    color: white;
    background-color: dodgerblue;
    padding: 20px;
}

.utterance_display_bold {
    font-size: 40px;
    font-family: Arial;
    color: white;
    background-color: dodgerblue;
    padding: 20px;
    font-weight: bolder;
}

.logo {
    width: 30%;
    height: 30%;
}

.welcome_page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(16, 53, 114);
    height: 100vh;
}

.welcome_page .top{
    padding: 40px 0;
    display: block;
    text-align: center;
    font-family: times;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.welcome_page .center{
    
}

.welcome_page .bottom{
    display: flex;
    justify-content: space-evenly;
}

.jhu_som_logo {
    width: 226px;
    height: 174px;
    opacity: 0.92;
}

.jhu_wse_logo {
    width: 180px;
    height: 139px;
    opacity: 0.92;
    position: relative;
    top: 21px;
}

.login_button {
    top: 30px;
    text-align: center;
}

.dashboard_card {
    width: 80%;
}

.access_code {
    text-align: center;
    color:lightsteelblue;
}

.review_recording {
    font-size: 15px;
    font-family: Arial;
    color: blue;
    /* background-color: dodgerblue; */
    /* padding: 20px; */
}